
{:paths ["scripts"]
 :tasks
 {lint (shell "clj-kondo --lint src")
  repl  (shell "clj -A:dev")
  repl-ui (shell "npx shadow-cljs run dev/start")
  repl-portal  (shell "clojure -A:dev -M:inspect/portal-cli-cider")
  repl-term  (shell "clojure -A:test -A:dev -M:repl/cider-refactor")}}
